.hero {
  margin-left: 60px;
  color: white;
  width: calc(100% - 60px - 40px);
  display: flex;
  justify-content: center;
  padding: 70px 20px;
  align-items: center;

  >div {
    text-align: center;

    >a {
      color: white;
      text-decoration: none;

      >h2,
      >h3,
      >h6 {
        margin: 0;

        >span {
          font-weight: normal;
        }
      }

      >h2 {
        font-size: 36px;
      }

      >h3 {
        font-size: 21px;
      }
    }

    >p {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 1092px) {
  .hero {
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    >div {
      text-align: left;

      >a {
        >h2 {
          font-size: 22px;
        }

        >h3 {
          font-size: 14px;
        }

        >p {
          font-size: 14px;
        }
      }
    }
  }

  #heroText_th,
  #heroText_en {
    font-size: 14px;
  }
}