@import '../../Color.scss';

.board {
  color: white;
}

@media only screen and (max-width: 600px) {
  .boardList {

    >div {

      >h2 {
        border-radius: 5px 0px 0px 5px !important;
      }
    }
  }
}

.boardList {
  max-width: 600px;

  >div {
    text-align: left;
    padding: 20px 0px;

    >h2 {
      margin-top: 0px;
      margin-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px 5px 5px 5px;
      background: rgba(255, 255, 255, 0.09);
      color: white;
    }

    >h4 {
      //font-weight: normal;
      padding-right: 20px;
      padding-left: 10px;
      margin: 0;
    }

    >h5 {
      padding-right: 20px;
      padding-left: 10px;
      font-weight: normal;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    >a {
      color: white;
      text-decoration: none;
    }
  }

  >div>span {
    text-align: left;
    padding: 0px;
    display: block;

    >a {
      color: white;
      text-decoration: none;

      >h5 {
        padding-right: 20px;
        padding-left: 10px;
        font-weight: normal;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }

    >h5 {
      padding-right: 20px;
      padding-left: 10px;
      font-weight: normal;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    >* {
      display: inline-block;
    }
  }
}