#notFound{display:flex;flex-direction:column;height:400px;margin-left:60px;width:calc(100% - 60px);justify-content:center;align-items:center;text-align:center}#notFound>div{padding:20px}#notFound>div>h2{margin-bottom:0}@media only screen and (max-width: 1092px){#notFound{margin-left:30px}}
