@import '../../Color.scss';

@media only screen and (max-width: 1092px) {
  .header {
    background-color: $Tungsten !important;
    position: initial !important;
    //display: none !important;
    width: calc(100% - 20px) !important;
    transform: translateX(0px) !important;
    padding-left: 20px;
  }
}

.header {
  background-color: $DuskyBlue;
  color: white;
  width: 60px;
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  //height: 100%;
  //align-items: center;
  transform: translateX(20px);
  align-items: flex-start;

  >ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;

    >li {
      >a {
        color: white;
        text-decoration: none;
      }
    }
  }

  >ul:first-child {
    >li {
      >a {
        font-size: 28px;
        text-decoration: none;
      }
    }
  }
}

#header-secondary {
  //transform: translateX(33px);

  >li {
    position: relative;
    white-space: nowrap;

    transform: translateX(20px);

    >a {
      color: #d2d2d2;
    }

    >a.--active {
      font-weight: bold;
      color: white;
    }

    >a.--active:hover {
      font-weight: bold;
      color: white;
    }

    >a:hover {
      font-weight: bold;
      color: white;
    }

    >a::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: white;
      left: -20px;
      top: 5px;
      display: none;
    }

    >a.--active::before {
      display: block;
    }
  }
}

.hamburgurWrapper {
  display: none !important;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.hamburgurWrapper:hover {
  background-color: $Dusk;
}

.hamburgur {
  width: 15px;
  height: 2px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.hamburgur::after,
.hamburgur::before {
  content: '';
  width: 15px;
  height: 2px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
}

.hamburgur::after {
  top: -5px;
}

.hamburgur::before {
  bottom: -5px
}

.fixHeaderLongText {
  position: relative;
  height: 14px;
  width: 14px;
  white-space: nowrap;
}