.footer{margin-left:60px;color:white;width:calc(100% - 60px - 40px);display:flex;justify-content:center;padding:20px 20px;align-items:center}#footerTitle{font-weight:normal;text-align:center}#footerTitle>span{font-weight:normal}@media only screen and (max-width: 1092px){.footer{margin-left:20px;margin-right:20px;width:calc(100% - 40px - 40px)}}
