@import url('https://fonts.googleapis.com/css?family=Kanit|Open+Sans:300,400,700');
@import './Color.scss';

html,
body,
body>div,
#wrapper,
.App {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  font-size: 14px;
  top: 0;
  margin: 0;
  padding: 0;
  font-family: 'Kanit', 'Open Sans', sans-serif;
  background-color: $DuskyBlue;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  cursor: pointer;
}

.textTungsten {
  color: $Tungsten;
}

.textUnderline {
  text-decoration: underline;
}

.textUppercase {
  text-transform: uppercase;
}

.textBold {
  font-weight: bold;
}

.textNormal {
  font-weight: normal;
}

.textCenter {
  text-align: center !important;
}

h2 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.fixedWidth {
  max-width: 1200px;
  margin: 0 auto;
}

.ulStyled {
  padding-left: 28px;
}

.mFix {
  margin-left: 60px !important;
}

.addM {
  margin-bottom: 50px;
}

.maxWidth {
  max-width: 1000px;
  margin: 0 auto;
}

.sectionHeader {
  text-align: left;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 5px 5px 5px 5px;
  background: rgba(255, 255, 255, 0.09);
  color: white;

  >a {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (max-width: 1000px) {
  .sectionHeader {
    border-radius: 5px 0px 0px 5px !important;
  }
}

@media only screen and (max-width: 1092px) {
  .mFix {
    margin-left: 20px !important;
  }

  .sectionHeader {
    font-size: 22px;
    //margin-right: 20px;
  }

  .cardRowList {

    flex-direction: column !important;

    >.card {
      //width: calc(100% + 190px);
      margin-right: 20px !important;

      >img {
        max-width: 100% !important;
        width: 100% !important;
      }
    }
  }

  .cardContent {
    max-width: initial !important;
    margin-right: 20px !important;
  }

  .cardBlock {
    margin-right: 20px;

    >h2 {
      font-size: 20px;
    }
  }
}


.cardRowList {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  >.card:hover {
    transform: scale(1.05);
  }

  >.card {
    margin-right: 40px;
    cursor: pointer !important;
    transition: 0.25s ease;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;

    >img {
      width: 220px;
      max-width: 220px;
    }

    >.cardContent {
      padding: 20px;
      width: 180px;
      max-width: 180px;

      >h3 {
        margin: 0;
        color: $Tungsten;
      }
    }
  }
}

.endCardCaption {
  >.cardContent {
    max-width: 600px;
  }
}




.cardBlock {
  background-color: white;
  color: $Tungsten;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;

  >h2 {
    margin-top: 0;
  }

  >ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.columnList {
  color: $Tungsten;
  padding: 20px 20px 20px 40px;
  background-color: white;
  border-radius: 5px;
}

.columnListTitle:last-child {
  margin-bottom: 0;
}

.columnListTitle {
  margin-bottom: 10px;

  >a {
    color: $Tungsten;
    text-decoration: none;

    >h3 {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
}

.columnSubList {
  padding-left: 20px;

  >li {
    margin: 5px 0px;

    >a {
      color: $DuskyBlue;
      text-decoration: none;
    }

    >a:hover {
      color: $Dusk;
    }
  }
}

.button {
  background-color: white;
  color: $Tungsten;
  border-radius: 5px;
  padding: 5px 7px;
  text-decoration: none;
}

.tabTab {
  width: 25px;
  display: inline-block;
}